/* ===========================================================================
   #WRAPPER
   =========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-tiny-width: map-get($mq-breakpoints, mobile) !default;
$inuit-wrapper-small-width: map-get($mq-breakpoints, tablet) !default;
$inuit-wrapper-width: map-get($mq-breakpoints, desktop) !default;
$inuit-wrapper-large-width: map-get($mq-breakpoints, wide) !default;
$inuit-wrapper-huge-width: map-get($mq-breakpoints, l-wide) !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number.";
}

.o-wrapper {
  @include inuit-clearfix();
  padding-right: $inuit-global-spacing-unit-tiny;
  padding-left: $inuit-global-spacing-unit-tiny;
  @include mq($from: tablet) {
    padding-right: $inuit-global-spacing-unit-small;
    padding-left: $inuit-global-spacing-unit-small;
  }
  @include mq($from: desktop) {
    padding-right: $inuit-global-spacing-unit;
    padding-left: $inuit-global-spacing-unit;
  }
  margin-right: auto;
  margin-left: auto;
  max-width: $inuit-wrapper-width;

  .o-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.o-wrapper--tiny {
  padding-right: $inuit-global-spacing-unit-tiny;
  padding-left: $inuit-global-spacing-unit-tiny;
  max-width: $inuit-wrapper-tiny-width;
}

.o-wrapper--small {
  padding-right: $inuit-global-spacing-unit-tiny;
  padding-left: $inuit-global-spacing-unit-tiny;
  @include mq($from: tablet) {
    padding-right: $inuit-global-spacing-unit-small;
    padding-left: $inuit-global-spacing-unit-small;
  }
  max-width: $inuit-wrapper-small-width;
}

.o-wrapper--large,
.o-wrapper--huge {
  padding-right: $inuit-global-spacing-unit-tiny;
  padding-left: $inuit-global-spacing-unit-tiny;
  @include mq($from: tablet) {
    padding-right: $inuit-global-spacing-unit-small;
    padding-left: $inuit-global-spacing-unit-small;
  }
  @include mq($from: desktop) {
    padding-right: $inuit-global-spacing-unit;
    padding-left: $inuit-global-spacing-unit;
  }
  @include mq($from: wide) {
    padding-right: $inuit-global-spacing-unit-huge;
    padding-left: $inuit-global-spacing-unit-huge;
  }
  max-width: $inuit-wrapper-large-width;
}

.o-wrapper--huge {
  max-width: $inuit-wrapper-huge-width;
}

/* Sometimes you need to reuse the wrapper object on a child element that has a
wrapper object as a parent. The reason may be to contrain the content
on a specific width. You do not want the child element to have its own padding
but instead you want to use the padding from the parent element.

If you do not wish to have it centered you can reset the margins by using the .o-wrapper--rm
variation to remove any horizontal margins or reset the padding by using utility classes e.g u-margin-horizontal-none

<div style="background-color: rebeccapurple;">
  <div class="o-wrapper o-wrapper--large">
    <div class="o-section o-section--large">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tempore ad ab nesciunt architecto quis
        blanditiis aliquam ratione necessitatibus, labore expedita neque facere nam iste rerum dolor voluptas
        perferendis officia!</p>
      <div class="o-wrapper o-wrapper--small">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quis eius doloribus voluptatibus officiis
          nulla consectetur! Ratione amet voluptas voluptatum? Quisquam ex cupiditate perspiciatis, optio deserunt
          iure natus debitis corporis.</p>
      </div>
    </div>
  </div>
</div>

*/

.o-wrapper--rm {
  margin-left: 0;
  margin-right: 0;
}

/*

 <section style="background-color: pink;">
   <div class="o-wrapper o-wrapper--large">
     <div class="o-section o-section--large">
       <div class="o-row o-row--large">
         <div class="o-row">
           <div class="u-1/2 u-push-1/4">
             <div style="background-color: white;">
               <div class="o-box">
                 <div class="o-media o-media--middle">
                   <div class="o-media__img">
                     <svg
                       xmlns="http://www.w3.org/2000/svg"
                       width="36"
                       height="36"
                       viewBox="0 0 512.042 512.042"
                     >
                       <path
                       />
                     </svg>
                   </div>
                   <div class="o-media__body">
                     <h3>Hello world!</h3>
                     <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing
                       elit. Doloremque id cupiditate, eveniet voluptate,
                       nemo aspernatur et illum facilis iste quae adipisci
                       iure sapiente excepturi doloribus commodi voluptates
                       optio, fugiat harum.
                     </p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="o-row">
           <p>
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
             vero consequatur iusto laborum molestias officiis voluptas,
             illum nam consectetur fugit accusantium officia, nostrum veniam
             repellat aperiam reiciendis nisi, suscipit cupiditate.
           </p>
         </div>
       </div>
       <div class="o-row o-row--large">
         <div class="o-layout o-layout--large o-layout--stretch">
           <div class="o-layout__item u-1/2@desktop">
             <div style="background-color: white;">
               <div class="o-box o-box--small">
                 <h2>Hello world! This is a bigger title!!</h2>
                 <ul>
                   <li>Item 1</li>
                   <li>Item 2</li>
                   <li>Item 3</li>
                   <li>Item 4</li>
                   <li>Item 5</li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="o-layout__item u-1/2@desktop">
             <div style="background-color: white;">
               <div class="o-box o-box--small">
                 <h2>Hello world again!</h2>
                 <p>
                   Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                   Iure tempora, praesentium repudiandae quidem voluptatem
                   obcaecati explicabo sapiente molestiae. Impedit esse, rem
                   illo et id eligendi quibusdam iusto repellendus eius
                   corrupti?
                 </p>
                 <small>Hello world</small>
                 <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Numquam eligendi illo quam. Expedita ad velit beatae
                   assumenda deserunt eius provident earum consequuntur
                   libero, hic aperiam incidunt quisquam quasi sint
                   aspernatur.
                 </p>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="o-row o-row--large">
         <div style="background-color: white;">
           <div class="o-box">
             <h1>Hello again!!</h1>
             <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam
               laboriosam enim dolorem tempore eligendi atque quae explicabo
               neque sint officia, id corporis ullam fugit. Debitis itaque
               consequatur mollitia aspernatur aliquid.
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

 */
