/* ==========================================================================
   #MEDIA
   ========================================================================== */

.o-media {
  display: flex;
}

.o-media__img {
  margin-right: $inuit-global-spacing-unit;
}

.o-media__body {
  flex: 1 1 0%;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}

/* Vertical alignment modifiers
   ========================================================================== */

.o-media--middle {
  align-items: center;
}

.o-media--bottom {
  align-items: flex-end;
}

/* Size variants
   ========================================================================== */

.o-media--flush {
  > .o-media__img {
    margin-right: 0;
    margin-left: 0;
  }
}

.o-media--tiny {
  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-tiny;
  }

  &.o-media--reverse {
    > .o-media__img {
      margin-right: 0;
      margin-left: $inuit-global-spacing-unit-tiny;
    }
  }
}

.o-media--small {
  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-small;
  }

  &.o-media--reverse {
    > .o-media__img {
      margin-right: 0;
      margin-left: $inuit-global-spacing-unit-small;
    }
  }
}

.o-media--large {
  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-large;
  }

  &.o-media--reverse {
    > .o-media__img {
      margin-right: 0;
      margin-left: $inuit-global-spacing-unit-large;
    }
  }
}

.o-media--huge {
  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-huge;
  }

  &.o-media--reverse {
    > .o-media__img {
      margin-right: 0;
      margin-left: $inuit-global-spacing-unit-huge;
    }
  }
}

/* Reversed media objects
   ========================================================================== */

.o-media--reverse {
  > .o-media__img {
    order: 1;
    margin-right: 0;
    margin-left: $inuit-global-spacing-unit;
  }
}
