/* ==========================================================================
   #ROW
   ========================================================================== */

$inuit-row-breakpoint: map-get($mq-breakpoints, wide) !default;

.o-row {
  margin-bottom: $inuit-global-spacing-unit;

  @include mq($from: $inuit-row-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit-large;
  }
}

.o-row-tiny {
  margin-bottom: $inuit-global-spacing-unit-tiny;

  @include mq($from: $inuit-row-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit-small;
  }
}

.o-row-small {
  margin-bottom: $inuit-global-spacing-unit-small;

  @include mq($from: $inuit-row-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit;
  }
}

.o-row-large {
  margin-bottom: $inuit-global-spacing-unit-large;

  @include mq($from: $inuit-row-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit-huge;
  }
}

.o-row-huge {
  margin-bottom: $inuit-global-spacing-unit-huge;
}

/*

<div style="background-color: rebeccapurple;">
  <div class="o-box-large">
    <div class="o-wrapper o-wrapper--large">
      <div class="o-row-large">
        <h1 class="u-margin-bottom-none">Hello world!</h1>
      </div>
      <p class="u-margin-bottom-none">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
        perferendis impedit, iste deserunt, facere possimus recusandae
        corporis blanditiis repudiandae facilis nobis fugiat suscipit. Ut,
        exercitationem. Iste assumenda possimus eaque amet?
      </p>
    </div>
  </div>
</div>

*/
