/* ==========================================================================
   #SECTION
   ========================================================================== */

$inuit-section-breakpoint: map-get($mq-breakpoints, wide) !default;
$inuit-section-huge-factor: 1.25 !default;

.o-section {
	@include inuit-clearfix();
	display: block;
	padding-bottom: $inuit-global-spacing-unit;
	padding-top: $inuit-global-spacing-unit;

	@include mq($from: $inuit-section-breakpoint) {
		padding-bottom: $inuit-global-spacing-unit-large;
		padding-top: $inuit-global-spacing-unit-large;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.o-section--tiny {
	padding-bottom: $inuit-global-spacing-unit-tiny;
	padding-top: $inuit-global-spacing-unit-tiny;

	@include mq($from: $inuit-section-breakpoint) {
		padding-bottom: $inuit-global-spacing-unit-small;
		padding-top: $inuit-global-spacing-unit-small;
	}
}

.o-section--small {
	padding-bottom: $inuit-global-spacing-unit-small;
	padding-top: $inuit-global-spacing-unit-small;

	@include mq($from: $inuit-section-breakpoint) {
		padding-bottom: $inuit-global-spacing-unit;
		padding-top: $inuit-global-spacing-unit;
	}
}

.o-section--large {
	padding-bottom: $inuit-global-spacing-unit-large;
	padding-top: $inuit-global-spacing-unit-large;

	@include mq($from: $inuit-section-breakpoint) {
		padding-bottom: $inuit-global-spacing-unit-huge;
		padding-top: $inuit-global-spacing-unit-huge;
	}
}

.o-section--huge {
	padding-bottom: $inuit-global-spacing-unit-huge;
	padding-top: $inuit-global-spacing-unit-huge;

	@include mq($from: $inuit-section-breakpoint) {
		padding-bottom: $inuit-global-spacing-unit-huge * $inuit-section-huge-factor;
		padding-top: $inuit-global-spacing-unit-huge * $inuit-section-huge-factor;
	}
}

/*

<section style="background-color: pink;">
  <div class="o-wrapper o-wrapper--large">
    <div class="o-section o-section--large">
      <div class="o-row o-row--large">
        <div class="o-row">
          <div class="u-1/2 u-push-1/4">
            <div style="background-color: white;">
              <div class="o-box">
                <div class="o-media o-media--middle">
                  <div class="o-media__img">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="36"
                      height="36"
                      viewBox="0 0 512.042 512.042"
                    >
                      <path/>
                    </svg>
                  </div>
                  <div class="o-media__body">
                    <h3>Hello world!</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Doloremque id cupiditate, eveniet voluptate,
                      nemo aspernatur et illum facilis iste quae adipisci
                      iure sapiente excepturi doloribus commodi voluptates
                      optio, fugiat harum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="o-row">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
            vero consequatur iusto laborum molestias officiis voluptas,
            illum nam consectetur fugit accusantium officia, nostrum veniam
            repellat aperiam reiciendis nisi, suscipit cupiditate.
          </p>
        </div>
      </div>
      <div class="o-row o-row--large">
        <div class="o-layout o-layout--large o-layout--stretch">
          <div class="o-layout__item u-1/2@desktop">
            <div style="background-color: white;">
              <div class="o-box o-box--small">
                <h2>Hello world! This is a bigger title!!</h2>
                <ul>
                  <li>Item 1</li>
                  <li>Item 2</li>
                  <li>Item 3</li>
                  <li>Item 4</li>
                  <li>Item 5</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="o-layout__item u-1/2@desktop">
            <div style="background-color: white;">
              <div class="o-box o-box--small">
                <h2>Hello world again!</h2>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Iure tempora, praesentium repudiandae quidem voluptatem
                  obcaecati explicabo sapiente molestiae. Impedit esse, rem
                  illo et id eligendi quibusdam iusto repellendus eius
                  corrupti?
                </p>
                <small>Hello world</small>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Numquam eligendi illo quam. Expedita ad velit beatae
                  assumenda deserunt eius provident earum consequuntur
                  libero, hic aperiam incidunt quisquam quasi sint
                  aspernatur.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="o-row o-row--large">
        <div style="background-color: white;">
          <div class="o-box">
            <h1>Hello again!!</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam
              laboriosam enim dolorem tempore eligendi atque quae explicabo
              neque sint officia, id corporis ullam fugit. Debitis itaque
              consequatur mollitia aspernatur aliquid.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

*/
