/* ===========================================================================
   #ROW
   =========================================================================== */

$inuit-row-breakpoint: map-get($mq-breakpoints, wide) !default;
$inuit-row-huge-factor: 1.25 !default;

.o-row {
  @include inuit-clearfix();
  display: block;
  margin-bottom: $inuit-global-spacing-unit;

  @include mq($from: $inuit-row-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit-large;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.o-row--tiny {
  margin-bottom: $inuit-global-spacing-unit-tiny;

  @include mq($from: $inuit-row-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit-small;
  }
}

.o-row--small {
  margin-bottom: $inuit-global-spacing-unit-small;

  @include mq($from: $inuit-row-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit;
  }
}

.o-row--large {
  margin-bottom: $inuit-global-spacing-unit-large;

  @include mq($from: $inuit-row-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit-huge;
  }
}

.o-row--huge {
  margin-bottom: $inuit-global-spacing-unit-huge;
  @include mq($from: $inuit-row-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit-huge * $inuit-row-huge-factor;
  }
}
