/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.c-wrapper-primary {
	--background-color: var(--global-color-white-offset);
	--text-color: var(--global-color-black-offset);
}

.dark-theme .c-wrapper-primary {
	--background-color: var(--global-color-black-offset);
	--text-color: var(--global-color-white-offset);
}

.c-wrapper-primary {
	background-color: var(--background-color);
	color: var(--text-color);
}
