/* ==========================================================================
   #CTA
   ========================================================================== */

.c-cta {
  background-color: $brand-surface-primary;
  color: $brand-light;
}

.c-cta-light {
  background-color: $brand-surface-primary-light;
  color: $brand-dark;
}
