$card-breakpoint: map-get($mq-breakpoints, wide) !default;

.c-card {
  display: flex;
  flex-direction: column;

  padding: $inuit-global-spacing-unit;
  @include mq($from: $card-breakpoint) {
    padding: $inuit-global-spacing-unit-large;
  }

  background-color: white;
}

.c-card--tiny {
  padding: $inuit-global-spacing-unit-tiny;
  @include mq($from: $card-breakpoint) {
    padding: $inuit-global-spacing-unit-small;
  }
}

.c-card--small {
  padding: $inuit-global-spacing-unit-small;
  @include mq($from: $card-breakpoint) {
    padding: $inuit-global-spacing-unit;
  }
}

.c-card--large {
  padding: $inuit-global-spacing-unit-large;
  @include mq($from: $card-breakpoint) {
    padding: $inuit-global-spacing-unit-huge;
  }
}

.c-card--huge {
  padding: $inuit-global-spacing-unit-huge;
}

.c-card--flush {
  padding: 0;
}

.c-card--rounded {
  border-radius: $global-radius;
}

.c-card--shadow {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.c-card__heading,
.c-card__body {
  > :last-child {
    margin-bottom: 0;
  }
}

.c-card__heading,
.c-card__body {
  margin-bottom: $inuit-global-spacing-unit;
  @include mq($from: $card-breakpoint) {
    margin-bottom: $inuit-global-spacing-unit-large;
  }

  .c-card--tiny & {
    margin-bottom: $inuit-global-spacing-unit-tiny;
    @include mq($from: $card-breakpoint) {
      margin-bottom: $inuit-global-spacing-unit-small;
    }
  }

  .c-card--small & {
    margin-bottom: $inuit-global-spacing-unit-small;
    @include mq($from: $card-breakpoint) {
      margin-bottom: $inuit-global-spacing-unit;
    }
  }

  .c-card--large & {
    margin-bottom: $inuit-global-spacing-unit-large;
    @include mq($from: $card-breakpoint) {
      margin-bottom: $inuit-global-spacing-unit-huge;
    }
  }

  .c-card--huge & {
    margin-bottom: $inuit-global-spacing-unit-huge;
  }
}

.c-card__footer {
  margin-top: auto;
}
