/* ==========================================================================
   #CTA
   ========================================================================== */

.c-cta {
  background-color: var(--brand-surface-primary);
  color: var(--brand-light);
}

.c-cta-light {
  background-color: var(--brand-surface-primary-light);
  color: var(--brand-dark);
}
