/* ==========================================================================
   #BUTTONS
   ========================================================================== */

$button-ghost-border-width: 3px !default;

.c-btn {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
  transition: background-color $global-transition;
  border-radius: $global-border-radius;
}

.c-btn--primary {
  --brand-button-bg-primary: var(--brand-color-primary-060);
  --brand-button-bg-primary-action: var(--brand-color-primary-070);
  --brand-button-text-primary: var(--global-color-white);
  --brand-button-outline-primary: var(--brand-color-primary-100);
}

.c-btn--primary {
  background-color: var(--brand-button-bg-primary);

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: var(--brand-button-text-primary);
  }

  &:hover,
  &:focus {
    background-color: var(--brand-button-bg-primary-action);
    outline-color: var(--brand-button-outline-primary);
  }
}

.c-btn--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}

/* Ghost buttons
   ========================================================================== */

.c-btn--ghost {
  padding: ($inuit-global-spacing-unit-small - $button-ghost-border-width)
    ($inuit-global-spacing-unit - $button-ghost-border-width);
  transition: border-color $global-transition, color $global-transition,
    background-color $global-transition;
  border: $button-ghost-border-width solid;

  & {
    background: none;
  }

  &.c-btn--small {
    padding: ($inuit-global-spacing-unit-tiny - $button-ghost-border-width)
      ($inuit-global-spacing-unit-small - $button-ghost-border-width);
  }

  &.c-btn--large {
    padding: ($inuit-global-spacing-unit - $button-ghost-border-width)
      ($inuit-global-spacing-unit-large - $button-ghost-border-width);
  }
}

.c-btn--ghost {
  &.c-btn--primary {
    --brand-button-ghost-border-primary: var(--brand-color-primary-060);
    --brand-button-ghost-border-primary-action: var(--brand-color-primary-070);
    --brand-button-ghost-text-primary: var(--brand-color-primary-060);
    --brand-button-ghost-text-primary-action: var(--global-color-white);
    --brand-button-ghost-bg-primary-action: var(--brand-color-primary-070);
  }
}

.c-btn--ghost {
  &.c-btn--primary {
    border-color: var(--brand-button-ghost-border-primary);
    color: var(--brand-button-ghost-text-primary);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--brand-button-ghost-bg-primary-action);
      border-color: var(--brand-button-ghost-border-primary-action);
      color: var(--brand-button-ghost-text-primary-action);
    }
  }
}

[data-theme="dark"] {
  .c-btn--primary {
    --brand-button-outline-primary: var(--global-color-white);
  }
  .u-surface-primary--alt {
    .c-btn--primary {
      --brand-button-outline-primary: var(--brand-color-primary-100);
    }
  }
}

[data-theme="dark"] {
  .c-btn--ghost {
    &.c-btn--primary {
      border-color: var(--global-color-white);
      color: var(--global-color-white);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--brand-button-ghost-bg-primary-action);
        border-color: var(--brand-button-ghost-border-primary-action);
        color: var(--brand-button-ghost-text-primary-action);
      }
    }
  }
}

[data-theme="dark"] {
  .u-surface-primary--alt {
    .c-btn--ghost {
      &.c-btn--primary {
        border-color: var(--brand-button-ghost-border-primary);
        color: var(--brand-button-ghost-text-primary);

        &:hover,
        &:active,
        &:focus {
          background-color: var(--brand-button-ghost-bg-primary-action);
          border-color: var(--brand-button-ghost-border-primary-action);
          color: var(--brand-button-ghost-text-primary-action);
        }
      }
    }
  }
}
