/* ==========================================================================
   #CONTAINER
   ========================================================================== */

.c-container {
  background-color: var(--global-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
