/* ========================================================================
   #BUTTONS
   ======================================================================== */

$button-ghost-border-width: 3px !default;

.c-btn {
	border-radius: $global-border-radius;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	margin: 0;
	outline-offset: $global-focus-offset;
	padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
	text-align: center;
	transition: background-color $global-transition;
	vertical-align: middle;
}

.c-btn--primary {
	&,
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		outline-style: $global-outline-style;
		outline-width: $global-outline-width;
	}
}

.c-btn--small {
	padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
	padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}

.c-btn--primary {
	--background: var(--brand-color-primary-070);
	--background-action: var(--brand-color-primary-080);
	--text-color: var(--global-color-white);
	--outline-color: var(--brand-color-primary-080);
}

.c-btn--primary {
	background-color: var(--background);

	&,
	&:hover,
	&:active,
	&:focus {
		color: var(--text-color);
	}

	&:hover,
	&:focus {
		background-color: var(--background-action);
	}

	&:focus {
		outline-color: var(--outline-color);
	}
}

/* Ghost buttons
			========================================================================== */

.c-btn--ghost {
	background: none;
	border: $button-ghost-border-width solid;
	padding: ($inuit-global-spacing-unit-small - $button-ghost-border-width)
		($inuit-global-spacing-unit - $button-ghost-border-width);
	transition: border-color $global-transition, color $global-transition,
		background-color $global-transition;

	&.c-btn--small {
		padding: ($inuit-global-spacing-unit-tiny - $button-ghost-border-width)
			($inuit-global-spacing-unit-small - $button-ghost-border-width);
	}

	&.c-btn--large {
		padding: ($inuit-global-spacing-unit - $button-ghost-border-width)
			($inuit-global-spacing-unit-large - $button-ghost-border-width);
	}
}

.c-btn--ghost {
	--background-action: var(--brand-color-primary-080);
	--text-color: var(--brand-color-primary-070);
	--text-color-action: var(--global-color-white);
	--outline-color: var(--brand-color-primary-080);
	--border-color: var(--brand-color-primary-070);
	--border-color-action: var(--brand-color-primary-080);
}

.c-btn--ghost {
	.dark-theme & {
		--text-color: var(--global-color-white);
		--border-color: var(--global-color-white);
	}
}

.c-btn--ghost {
	border-color: var(--border-color);
	color: var(--text-color);

	&:hover,
	&:active,
	&:focus {
		color: var(--text-color-action);
	}

	&:hover,
	&:focus {
		background-color: var(--background-action);
		border-color: var(--border-color-action);
	}

	&:focus {
		outline-color: var(--outline-color);
	}
}
