/* ==========================================================================
   #SURFACES
   ========================================================================== */

.u-surface-primary {
  background-color: var(--brand-surface-primary);
  color: var(--brand-text-primary);
}

.u-surface-primary-alt {
  background-color: var(--brand-surface-primary-alt);
  color: var(--brand-text-primary-alt);
}
