/* ==========================================================================
   #SURFACES
   ========================================================================== */

.u-surface-primary {
  background-color: $brand-surface-primary;
  color: $brand-light;
}

.u-surface-primary-light {
  background-color: $brand-surface-primary-light;
  color: $brand-dark;
}
