/* ==========================================================================
   #SPACINGS
   ========================================================================== */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .mt {}		is margin-top
 *   .pl-l {} is padding-left-large
 *   .mr-s {} is margin right-small
 *   .p {} 		is padding
 */

$inuit-spacing-properties: (
	"p": "padding",
	"m": "margin",
) !default;

$inuit-spacing-directions: (
	null: null,
	"t": "-top",
	"r": "-right",
	"b": "-bottom",
	"l": "-left",
	"h": "-left" "-right",
	"v": "-top" "-bottom",
) !default;

$inuit-spacing-sizes: (
	null: $inuit-global-spacing-unit,
	"-t": $inuit-global-spacing-unit-tiny,
	"-s": $inuit-global-spacing-unit-small,
	"-l": $inuit-global-spacing-unit-large,
	"-h": $inuit-global-spacing-unit-huge,
	"-n": 0,
	"-a": auto,
) !default;

@each $property-namespace, $property in $inuit-spacing-properties {
	@each $direction-namespace, $direction-rules in $inuit-spacing-directions {
		@each $size-namespace, $size in $inuit-spacing-sizes {
			.#{$property-namespace}#{$direction-namespace}#{$size-namespace} {
				@each $direction in $direction-rules {
					#{$property}#{$direction}: $size !important;
				}
			}
		}
	}
}
