/* ==========================================================================
   #COLORS
   ========================================================================== */

.u-brand-color-primary-010 {
  color: $brand-color-primary-010 !important;
}
.u-brand-color-primary-020 {
  color: $brand-color-primary-020 !important;
}
.u-brand-color-primary-030 {
  color: $brand-color-primary-030 !important;
}
.u-brand-color-primary-040 {
  color: $brand-color-primary-040 !important;
}
.u-brand-color-primary-050 {
  color: $brand-color-primary-050 !important;
}
.u-brand-color-primary-060 {
  color: $brand-color-primary-060 !important;
}
.u-brand-color-primary-070 {
  color: $brand-color-primary-070 !important;
}
.u-brand-color-primary-080 {
  color: $brand-color-primary-080 !important;
}
.u-brand-color-primary-090 {
  color: $brand-color-primary-090 !important;
}
.u-brand-color-primary-100 {
  color: $brand-color-primary-100 !important;
}

.u-brand-color-grey-010 {
  color: $global-color-grey-010;
}
.u-brand-color-grey-020 {
  color: $global-color-grey-020;
}
.u-brand-color-grey-030 {
  color: $global-color-grey-030;
}
.u-brand-color-grey-040 {
  color: $global-color-grey-040;
}
.u-brand-color-grey-050 {
  color: $global-color-grey-050;
}
.u-brand-color-grey-060 {
  color: $global-color-grey-060;
}
.u-brand-color-grey-070 {
  color: $global-color-grey-070;
}
.u-brand-color-grey-080 {
  color: $global-color-grey-080;
}
.u-brand-color-grey-090 {
  color: $global-color-grey-090;
}
.u-brand-color-grey-100 {
  color: $global-color-grey-100;
}

.u-global-color-success-010 {
  color: $global-color-success-010;
}
.u-global-color-success-020 {
  color: $global-color-success-020;
}
.u-global-color-success-030 {
  color: $global-color-success-030;
}

.u-global-color-error-010 {
  color: $global-color-error-010;
}
.u-global-color-error-020 {
  color: $global-color-error-020;
}
.u-global-color-error-030 {
  color: $global-color-error-030;
}

.u-brand-background-primary {
  background-color: $brand-color-primary-100 !important;
}

.u-brand-background-primary-light {
  background-color: $brand-color-primary-010 !important;
}
