/* ==========================================================================
   #BG COLORS
   ========================================================================== */

.bg-white {
	background-color: var(--global-color-white) !important;
}

.bg-black {
	background-color: var(--global-color-black) !important;
}

.bg-white-offset {
	background-color: var(--global-color-white-offset) !important;
}

.bg-black-offset {
	background-color: var(--global-color-black-offset) !important;
}

.bg-primary-010 {
	background-color: var(--brand-color-primary-010) !important;
}

.bg-primary-020 {
	background-color: var(--brand-color-primary-020) !important;
}

.bg-primary-030 {
	background-color: var(--brand-color-primary-030) !important;
}

.bg-primary-040 {
	background-color: var(--brand-color-primary-040) !important;
}

.bg-primary-050 {
	background-color: var(--brand-color-primary-050) !important;
}

.bg-primary-060 {
	background-color: var(--brand-color-primary-060) !important;
}

.bg-primary-070 {
	background-color: var(--brand-color-primary-070) !important;
}

.bg-primary-080 {
	background-color: var(--brand-color-primary-080) !important;
}

.bg-primary-090 {
	background-color: var(--brand-color-primary-090) !important;
}

.bg-primary-100 {
	background-color: var(--brand-color-primary-100) !important;
}

.bg-neutral-010 {
	background-color: var(--global-color-neutral-010) !important;
}

.bg-neutral-020 {
	background-color: var(--global-color-neutral-020) !important;
}

.bg-neutral-030 {
	background-color: var(--global-color-neutral-030) !important;
}

.bg-neutral-040 {
	background-color: var(--global-color-neutral-040) !important;
}

.bg-neutral-050 {
	background-color: var(--global-color-neutral-050) !important;
}

.bg-neutral-060 {
	background-color: var(--global-color-neutral-060) !important;
}

.bg-neutral-070 {
	background-color: var(--global-color-neutral-070) !important;
}

.bg-neutral-080 {
	background-color: var(--global-color-neutral-080) !important;
}

.bg-neutral-090 {
	background-color: var(--global-color-neutral-090) !important;
}

.bg-neutral-100 {
	background-color: var(--global-color-neutral-100) !important;
}

.bg-success-010 {
	background-color: var(--global-color-success-010) !important;
}

.bg-success-020 {
	background-color: var(--global-color-success-020) !important;
}

.bg-success-030 {
	background-color: var(--global-color-success-030) !important;
}

.bg-error-010 {
	background-color: var(--global-color-error-010) !important;
}

.bg-error-020 {
	background-color: var(--global-color-error-020) !important;
}

.bg-error-030 {
	background-color: var(--global-color-error-030) !important;
}
