/* ==========================================================================
   #COLORS
   ========================================================================== */

.u-global-color-white {
  color: var(--global-color-white) !important;
}
.u-global-color-black {
  color: var(--global-color-black) !important;
}
.u-global-color-white-offset {
  color: var(--global-color-white-offset) !important;
}
.u-global-color-black-offset {
  color: var(--global-color-black-offset) !important;
}

.u-brand-color-primary-010 {
  color: var(--brand-color-primary-010) !important;
}
.u-brand-color-primary-020 {
  color: var(--brand-color-primary-020) !important;
}
.u-brand-color-primary-030 {
  color: var(--brand-color-primary-030) !important;
}
.u-brand-color-primary-040 {
  color: var(--brand-color-primary-040) !important;
}
.u-brand-color-primary-050 {
  color: var(--brand-color-primary-050) !important;
}
.u-brand-color-primary-060 {
  color: var(--brand-color-primary-060) !important;
}
.u-brand-color-primary-070 {
  color: var(--brand-color-primary-070) !important;
}
.u-brand-color-primary-080 {
  color: var(--brand-color-primary-080) !important;
}
.u-brand-color-primary-090 {
  color: var(--brand-color-primary-090) !important;
}
.u-brand-color-primary-100 {
  color: var(--brand-color-primary-100) !important;
}

.u-brand-color-neutral-010 {
  color: var(--global-color-neutral-010) !important;
}
.u-brand-color-neutral-020 {
  color: var(--global-color-neutral-020) !important;
}
.u-brand-color-neutral-030 {
  color: var(--global-color-neutral-030) !important;
}
.u-brand-color-neutral-040 {
  color: var(--global-color-neutral-040) !important;
}
.u-brand-color-neutral-050 {
  color: var(--global-color-neutral-050) !important;
}
.u-brand-color-neutral-060 {
  color: var(--global-color-neutral-060) !important;
}
.u-brand-color-neutral-070 {
  color: var(--global-color-neutral-070) !important;
}
.u-brand-color-neutral-080 {
  color: var(--global-color-neutral-080) !important;
}
.u-brand-color-neutral-090 {
  color: var(--global-color-neutral-090) !important;
}
.u-brand-color-neutral-100 {
  color: var(--global-color-neutral-100) !important;
}

.u-brand-color-success-010 {
  color: var(--global-color-success-010) !important;
}
.u-brand-color-success-020 {
  color: var(--global-color-success-020) !important;
}
.u-brand-color-success-030 {
  color: var(--global-color-success-030) !important;
}

.u-brand-color-error-010 {
  color: var(--global-color-error-010) !important;
}
.u-brand-color-error-020 {
  color: var(--global-color-error-020) !important;
}
.u-brand-color-error-030 {
  color: var(--global-color-error-030) !important;
}
