/* ==========================================================================
   #TEXT ALIGN
   ========================================================================== */

$text-align-direction-values: (
  "text-left": left,
  "text-right": right,
  "text-center": center,
) !default;

@mixin text-align-direction($text-align-direction-values, $breakpoint: null) {
  @each $name, $text-align-direction-value in $text-align-direction-values {
    $rule: ".#{$name}#{$breakpoint}";
    #{$rule} {
      text-align: $text-align-direction-value;
    }
  }
}

@if $text-align-direction == true {
  @include text-align-direction($text-align-direction-values);
  @if (variable-exists(mq-breakpoints)) {
    @each $bp-name, $bp-value in $mq-breakpoints {
      @include mq($from: $bp-name) {
        @include text-align-direction(
          $text-align-direction-values,
          \@#{$bp-name}
        );
      }
    }
  }
}
