/* ==========================================================================
   #SURFACES
   ========================================================================== */

.u-surface-primary {
  background-color: var(--brand-surface-primary);
  color: var(--brand-text-primary);
}

.u-surface-primary--alt {
  --brand-surface-primary: var(--global-color-white-offset);
  --brand-text-primary: var(--brand-color-primary-100);
}
