/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

// Does the project use custom fonts? Set that to true in the manifest file.
$custom-fonts: false !default;

// A neat small app that allows you to easily import google webfonts to your project
// https://google-webfonts-helper.herokuapp.com/fonts

// Use the modular scale app to create harmonious type scales
// https://www.modularscale.com/?16&px&1.2?64&px&1.2 or https://www.modularscale.com/?16,64&px&1.2

// Headings scale
$heading-scale-one: 64px !default;
$heading-scale-two: 53.333px !default;
$heading-scale-three: 44.444px !default;
$heading-scale-four: 37.037px !default;
$heading-scale-five: 30.864px !default;
$heading-scale-six: 25.72px !default;

// Body scale
$body-scale-xlarge: 23.04px !default;
$body-scale-large: 19.2px !default;
$body-scale-regular: 16px !default; // THIS SHOULD BE SET BASED ON $inuit-global-font-size
$body-scale-small: 13.333px !default;
$body-scale-xsmall: 11.111px !default;

// System fonts
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Define the @font-face rules here and all the possible variations
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter/inter-400.woff2") format("woff2"),
    url("../fonts/inter/inter-400.woff") format("woff");
}

/* 
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"),
    url("../fonts/nunito/nunito-700.woff2") format("woff2"),
    url("../fonts/nunito/nunito-700.woff") format("woff"),
    url("../fonts/nunito/nunito-700.ttf") format("truetype");
}
*/
