/* ==========================================================================
   #COLORS
   ========================================================================== */

html {
  --primary-10: #f0f5fc;
  --primary-20: #cfe0fc;
  --primary-30: #accbfc;
  --primary-40: #84b1fa;
  --primary-50: #5691f0;
  --primary-60: #3272d9;
  --primary-70: #1d5bbf;
  --primary-80: #114599;
  --primary-90: #103570;
  --primary-100: #15233b;

  --secondary-10: #faf0f4;
  --secondary-20: #fad4e4;
  --secondary-30: #fab4d1;
  --secondary-40: #f78bb8;
  --secondary-50: #ed5393;
  --secondary-60: #d6246e;
  --secondary-70: #b01355;
  --secondary-80: #8a1244;
  --secondary-90: #611535;
  --secondary-100: #421527;

  --global-grey-10: #f5f7fa;
  --global-grey-20: #ebeff5;
  --global-grey-30: #dde3ed;
  --global-grey-40: #c8d1e0;
  --global-grey-50: #afbacc;
  --global-grey-60: #8e99ab;
  --global-grey-70: #707a8a;
  --global-grey-80: #58606e;
  --global-grey-90: #434a54;
  --global-grey-100: #333840;

  --global-success-10: #e1faeb;
  --global-success-70: #056b2e;
  --global-error-10: #faf0f0;
  --global-error-70: #b80d0d;
  --global-error-80: #8f0e0e;

  --global-white: #ffffff;
}
