/* ==========================================================================
   #HEADINGS
   ========================================================================== */

$inuit-font-size-h1: $global-font-size-heading-1 !default;
$inuit-font-size-h2: $global-font-size-heading-2 !default;
$inuit-font-size-h3: $global-font-size-heading-3 !default;
$inuit-font-size-h4: $global-font-size-heading-4 !default;
$inuit-font-size-h5: $global-font-size-heading-5 !default;
$inuit-font-size-h6: $global-font-size-heading-6 !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  @if $custom-fonts == true {
    font-family: $global-font-family-primary;
  }
  font-style: normal;
  font-weight: 400;
}

h1 {
  @include inuit-font-size($global-font-size-heading-1);
}

h2 {
  @include inuit-font-size($global-font-size-heading-2);
}

h3 {
  @include inuit-font-size($global-font-size-heading-3);
}

h4 {
  @include inuit-font-size($global-font-size-heading-4);
}

h5 {
  @include inuit-font-size($global-font-size-heading-5);
}

h6 {
  @include inuit-font-size($global-font-size-heading-6);
}
