/* ==========================================================================
   #LINKS
   ========================================================================== */

a:not(.c-btn) {
  --brand-interactive-color-primary: var(--brand-color-primary-070);
  --brand-interactive-underline-primary: var(--brand-color-primary-070);
  --brand-interactive-underline-primary-action: var(--brand-color-primary-080);
  --brand-outline-primary: var(--brand-color-primary-080);
}

[data-theme="dark"] .u-surface-primary a:not(.c-btn) {
  --brand-interactive-color-primary: var(--global-color-white);
  --brand-interactive-underline-primary: var(--brand-color-primary-060);
  --brand-interactive-underline-primary-action: var(--brand-color-primary-070);
  --brand-outline-primary: var(--brand-color-primary-070);
}

a:not(.c-btn) {
  text-decoration: none;
  color: var(--brand-interactive-color-primary);
  transition: color $global-transition, box-shadow $global-transition;
  box-shadow: inset 0 -0.1rem 0 var(--brand-interactive-underline-primary);
}

a:focus {
  outline-width: $global-outline-width;
  outline-style: $global-outline-style;
  outline-offset: $global-focus-offset;
}

a:focus:not(.c-btn) {
  outline-color: var(--brand-outline-primary);
}

a:focus:not(.c-btn),
a:hover:not(.c-btn) {
  color: var(--global-color-white);
  text-decoration: none;
  box-shadow: inset 0 -1.4rem 0 var(--brand-interactive-underline-primary-action);
}
