/* ===========================================================================
   #BODY
   =========================================================================== */

body {
  --brand-surface-primary: var(--global-color-white-offset);
  --brand-text-primary: var(--brand-color-primary-100);
}

[data-theme="dark"] body {
  --brand-surface-primary: var(--brand-color-primary-100);
  --brand-text-primary: var(--global-color-white);
}

body {
  background-color: var(--brand-surface-primary);
  color: var(--brand-text-primary);
  font-family: $global-fonts-system;
  font-size: $inuit-global-font-size;
  font-style: normal;
  font-weight: 400;
  @if $custom-fonts == true {
    font-family: $global-font-family-primary;
  }
}
