/* ==========================================================================
   #LINKS
   ========================================================================== */

a:not(.c-btn) {
  text-decoration: none;
  color: $brand-interactive-light;
  transition: box-shadow $global-transition;
  box-shadow: inset 0 -0.1rem 0 $brand-interactive-box-shadow-light;
}

a:focus {
  outline-width: $global-outline-width;
  outline-style: $global-outline-style;
  outline-offset: $global-focus-offset;
}

a:focus:not(.c-btn) {
  outline-color: $brand-outline-light;
}

a:focus:not(.c-btn),
a:hover:not(.c-btn) {
  text-decoration: none;
  box-shadow: inset 0 -1.4rem 0 $brand-interactive-box-shadow-light;
}

.u-surface-primary-light {
  a:not(.c-btn) {
    color: $brand-interactive-dark;
    box-shadow: inset 0 -0.1rem 0 $brand-interactive-box-shadow-dark;
  }

  a:focus:not(.c-btn) {
    outline-color: $brand-outline-dark;
  }

  a:focus:not(.c-btn),
  a:hover:not(.c-btn) {
    box-shadow: inset 0 -1.4rem 0 $brand-interactive-box-shadow-dark;
  }
}
