/* ==========================================================================
   #ROOT
   ========================================================================== */

@if $custom-fonts == true {
  @font-face {
    font-family: $global-font-family-primary;
    font-style: $global-font-style-normal;
    font-weight: $global-font-weight-regular;
    src: $global-font-family-primary-src;
  }
  @font-face {
    font-family: $global-font-family-secondary;
    font-style: $global-font-style-normal;
    font-weight: $global-font-weight-regular;
    src: $global-font-family-secondary-src;
  }
}

::selection {
  background: var(--brand-color-primary-100);
  color: var(--global-color-white);
}

[data-theme="dark"] {
  ::selection {
    background: var(--global-color-white);
    color: var(--brand-color-primary-100);
  }
  .u-surface-primary--alt {
    ::selection {
      background: var(--brand-color-primary-100);
      color: var(--global-color-white);
    }
  }
}

html {
  --brand-surface-primary: var(--global-color-white-offset);
  --brand-text-primary: var(--brand-color-primary-100);
}

html[data-theme="dark"] {
  --brand-surface-primary: var(--brand-color-primary-100);
  --brand-text-primary: var(--global-color-white);
}

html {
  font-size: ($inuit-global-font-size / 16px) * 1em;
  line-height: $inuit-global-line-height / $inuit-global-font-size;
  overflow-y: scroll;
  min-height: 100%;
}
