/* ===========================================================================
   #ROOT
   =========================================================================== */

::selection {
	--background-color: var(--global-color-black-offset);
	--text-color: var(--global-color-white-offset);
}

.dark-theme ::selection {
	--background-color: var(--global-color-white-offset);
	--text-color: var(--global-color-black-offset);
}

::selection {
	background: var(--background-color);
	color: var(--text-color);
}

@if $custom-fonts == true {
	@font-face {
		font-family: $global-font-family-primary;
		font-style: normal;
		font-weight: 400;
		src: local("Poppins Regular"), local("Poppins-Regular"),
			url("../fonts/poppins/poppins-400.woff2") format("woff2"),
			url("../fonts/poppins/poppins-400.woff") format("woff");
	}

	@font-face {
		font-family: $global-font-family-secondary;
		font-style: normal;
		font-weight: 400;
		src: local("Abril Fatface"), local("AbrilFatface-Regular"),
			url("../fonts/abril-fatface/abril-fatface-400.woff2") format("woff2"),
			url("../fonts/abril-fatface/abril-fatface-400.woff") format("woff");
	}
}

html {
	font-size: ($inuit-global-font-size / 16px) * 1em;
	line-height: $inuit-global-line-height / $inuit-global-font-size;
	min-height: 100%;
	overflow-y: scroll;
}
