/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  font-size: ($inuit-global-font-size / 16px) * 1em;
  line-height: $inuit-global-line-height / $inuit-global-font-size;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font-family: $font-system;
  @if $custom-fonts == true {
    font-family: $font-base;
  }
  font-size: $inuit-global-font-size;
  @if $inuit-fluid-font-size == true {
    @include inuit-fluid-font-size($inuit-global-font-size);
  }
  font-weight: 400;
}
