/* ==========================================================================
   #HEADINGS
   ========================================================================== */

$headings-color: var(--primary-90) !default;

$inuit-font-size-h1: 36px !default;
$inuit-font-size-h2: 28px !default;
$inuit-font-size-h3: 24px !default;
$inuit-font-size-h4: 20px !default;
$inuit-font-size-h5: 18px !default;
$inuit-font-size-h6: 16px !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  @include inuit-font-size($inuit-font-size-h1);
}

h2 {
  @include inuit-font-size($inuit-font-size-h2);
}

h3 {
  @include inuit-font-size($inuit-font-size-h3);
}

h4 {
  @include inuit-font-size($inuit-font-size-h4);
}

h5 {
  @include inuit-font-size($inuit-font-size-h5);
}

h6 {
  @include inuit-font-size($inuit-font-size-h6);
}

@if $inuit-fluid-font-size == true {
  h1 {
    @include inuit-fluid-font-size($inuit-font-size-h1);
  }

  h2 {
    @include inuit-fluid-font-size($inuit-font-size-h2);
  }

  h3 {
    @include inuit-fluid-font-size($inuit-font-size-h3);
  }

  h4 {
    @include inuit-fluid-font-size($inuit-font-size-h4);
  }

  h5 {
    @include inuit-fluid-font-size($inuit-font-size-h5);
  }

  h6 {
    @include inuit-fluid-font-size($inuit-font-size-h6);
  }
}
