/* ==========================================================================
   #CONFIGURATION
   ========================================================================== */

$inuit-global-baseline: 6px;

$inuit-global-spacing-unit-factor-tiny:    1; //  6px
$inuit-global-spacing-unit-factor-small:   2; // 12px
$inuit-global-spacing-unit-factor:         4; // 24px
$inuit-global-spacing-unit-factor-large:   8; // 48px
$inuit-global-spacing-unit-factor-huge:   16; // 96px

$inuit-global-spacing-unit:       $inuit-global-baseline * $inuit-global-spacing-unit-factor;
$inuit-global-spacing-unit-tiny:  $inuit-global-baseline * $inuit-global-spacing-unit-factor-tiny;
$inuit-global-spacing-unit-small: $inuit-global-baseline * $inuit-global-spacing-unit-factor-small;
$inuit-global-spacing-unit-large: $inuit-global-baseline * $inuit-global-spacing-unit-factor-large;
$inuit-global-spacing-unit-huge:  $inuit-global-baseline * $inuit-global-spacing-unit-factor-huge;

$inuit-global-font-size: 16px;
$inuit-global-line-height: $inuit-global-spacing-unit;

$global-radius: 6px;
$global-line-width: 3px;

$global-transition-timing: 150ms;
$global-transition-function: ease-in-out;
$global-transition: $global-transition-timing $global-transition-function;

$global-outline-width: $global-line-width;
$global-outline-style: solid;
$global-focus-offset: 3px;

$mq-base-font-size: $inuit-global-font-size;
$mq-responsive: true;
$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px
);
$mq-show-breakpoints: (mobile, tablet, desktop, wide);

$inuit-fluid-font-size: true;
$inuit-fluid-font-size-breakpoint: map-get($mq-breakpoints, wide);
$global-typography-breakpoint: $inuit-fluid-font-size-breakpoint;
$inuit-fluid-font-size-scale-rate: 0.85;
$inuit-fluid-font-size-max-boundaries: true;

$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$custom-fonts: false;

$body-color: var(--primary-90);
$headings-color: var(--primary-90);
$links-color: var(--primary-60);

$heading-scale-one: 64px;
$heading-scale-two: 53.333px;
$heading-scale-three: 44.444px;
$heading-scale-four: 37.037px;
$heading-scale-five: 30.864px;
$heading-scale-six: 25.72px;

$type-scale-xlarge: 23.04px;
$type-scale-large: 19.2px;
$type-scale-regular: 16px; // THIS SHOULD BE SET BASED ON $inuit-global-font-size
$type-scale-small: 13.333px;
$type-scale-xsmall: 11.111px;

$inuit-font-size-h1: $heading-scale-one;
$inuit-font-size-h2: $heading-scale-two;
$inuit-font-size-h3: $heading-scale-three;
$inuit-font-size-h4: $heading-scale-four;
$inuit-font-size-h5: $heading-scale-five;
$inuit-font-size-h6: $heading-scale-six;

$inuit-wrapper-xsmall-width: map-get($mq-breakpoints, mobile); // 320
$inuit-wrapper-small-width: map-get($mq-breakpoints, tablet); // 740
$inuit-wrapper-width: map-get($mq-breakpoints, desktop); // 980
$inuit-wrapper-large-width: map-get($mq-breakpoints, wide); // 1300
$inuit-wrapper-xlarge-width: map-get($mq-breakpoints, wider); // 1860

$inuit-row-breakpoint: map-get($mq-breakpoints, wide);
$inuit-box-breakpoint: map-get($mq-breakpoints, wide) !default;

$button-primary-bg-color: var(--primary-60);
$button-primary-bg-color-hover: var(--primary-70);
$button-primary-color: var(--global-white);
$btn-ghost-border-width: 3px;

$text-align-direction: true;
$displays: true;

$inuit-fractions: 1 2 3 4 5 6 7 8 9 10 11 12;
$inuit-offsets: false;
