$custom-fonts: false !default;

$mq-responsive: false !default;

$text-align-direction: false !default;

$displays: false !default;
$display-aliases: false !default;

$flex-direction: false !default;
$flex-justify-content: false !default;
$flex-align-items: false !default;
$flex-wrap: false !default;
$flex-align-self: false !default;
$flex-align-content: false !default;

$inuit-offsets: false !default;
