// SETTINGS
@import "settings/settings.config";

$global-baseline: 7px;

$global-spacing-unit-factor-tiny: 1;
$global-spacing-unit-factor-small: 2;
$global-spacing-unit-factor: 4;
$global-spacing-unit-factor-large: 8;
$global-spacing-unit-factor-huge: 16;

$global-font-size-heading-1: 64px;
$global-font-size-heading-2: 53.333px;
$global-font-size-heading-3: 44.444px;
$global-font-size-heading-4: 37.037px;
$global-font-size-heading-5: 30.864px;
$global-font-size-heading-6: 25.72px;

$global-font-size-body-huge: 27.648px;
$global-font-size-body-large: 23.04px;
$global-font-size-body: 19.2px; // $inuit-global-font-size
$global-font-size-body-small: 16px;
$global-font-size-body-tiny: 13.333px;

$global-breakpoint-mobile: 320px;
$global-breakpoint-large-mobile: 540px;
$global-breakpoint-tablet: 760px;
$global-breakpoint-large-tablet: 980px;
$global-breakpoint-desktop: 1200px;
$global-breakpoint-large-desktop: 1420px;
$global-breakpoint-tvscreen: 1640px;
$global-breakpoint-large-tvscreen: 1860px;

$global-letter-spacing-wide: 0.025em;
$global-letter-spacing-tight: -0.025em;

$global-border-radius: 3px;
$global-transition: 150ms ease-in-out;

$global-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
	0 2px 4px -1px rgba(0, 0, 0, 0.06);

$global-outline-width: 3px;
$global-outline-style: solid;
$global-focus-offset: 3px;

$global-font-family-primary: "Poppins";
$global-font-family-secondary: "Abril Fatface";
@import "tokens";

$inuit-global-baseline: $global-baseline;

$inuit-global-spacing-unit-factor-tiny: $global-spacing-unit-factor-tiny;
$inuit-global-spacing-unit-factor-small: $global-spacing-unit-factor-small;
$inuit-global-spacing-unit-factor: $global-spacing-unit-factor;
$inuit-global-spacing-unit-factor-large: $global-spacing-unit-factor-large;
$inuit-global-spacing-unit-factor-huge: $global-spacing-unit-factor-huge;

$inuit-global-font-size: $global-font-size-body;
@import "settings/settings.core";

// TOOLS
$mq-breakpoints: (
	mobile: $global-breakpoint-mobile,
	l-mobile: $global-breakpoint-large-mobile,
	tablet: $global-breakpoint-tablet,
	l-tablet: $global-breakpoint-large-tablet,
	desktop: $global-breakpoint-desktop,
	l-desktop: $global-breakpoint-large-desktop,
	wide: $global-breakpoint-wide,
	l-wide: $global-breakpoint-large-wide,
);
$mq-show-breakpoints: (
	mobile,
	l-mobile,
	tablet,
	l-tablet,
	desktop,
	l-desktop,
	wide,
	l-wide
);
@import "mq";
@import "tools/tools.font-size";
@import "tools/tools.clearfix";
@import "tools/tools.hidden";

// GENERIC
@import "generic/generic.box-sizing";
@import "generic/generic.normalize";
@import "generic/generic.reset";
@import "generic/generic.shared";

// ELEMENTS
@import "elements/elements.root";
@import "elements/elements.body";
@import "elements/elements.headings";
@import "elements/elements.links";
@import "elements/elements.images";
@import "elements/elements.tables";

// OBJECTS
@import "objects/objects.grid";
@import "objects/objects.wrapper";

$inuit-section-breakpoint: map-get($mq-breakpoints, wide);
$inuit-section-huge-factor: 1.25; // 1.25 * 112 (huge spacing) = 140 => 140 / 7 (global-baseline) = 20 integer // Must be integer
@import "objects/objects.section";

$inuit-row-breakpoint: map-get($mq-breakpoints, wide);
$inuit-row-huge-factor: 1.25; // 1.25 * 112 (huge spacing) = 140 => 140 / 7 (global-baseline) = 20 integer // Must be integer
@import "objects/objects.row";

$box-breakpoint: map-get($mq-breakpoints, wide);
$inuit-box-huge-factor: 1.25; // 1.25 * 112 (huge spacing) = 140 => 140 / 7 (global-baseline) = 20 integer // Must be integer
@import "objects/objects.box";
@import "objects/objects.media";
@import "objects/objects.list-bare";
@import "objects/objects.list-inline";
@import "objects/objects.block";
@import "objects/objects.ratio";
@import "objects/objects.crop";
@import "objects/objects.table";
@import "objects/objects.pack";

// COMPONENTS
@import "components/components.wrapper";
$button-ghost-border-width: 3px;
@import "components/components.buttons";

// UTILITIES
@import "utilities/utilities.typography";
@import "utilities/utilities.colors";
@import "utilities/utilities.bgcolors";
@import "utilities/utilities.text-align";
@import "utilities/utilities.displays";
@import "utilities/utilities.flexbox";
@import "utilities/utilities.clearfix";

$inuit-fractions: 1 2 3 4 5 6 7 8 9 10 11 12;
@import "utilities/utilities.widths";
@import "utilities/utilities.spacings";
@import "utilities/utilities.responsive-spacings";
@import "utilities/utilities.space";
@import "utilities/utilities.print";
@import "utilities/utilities.hide";
